<!-- app/views/project_mail_settings/_form.html.erb -->

<p>
  <label>From</label>
  <%= f.text_field :from_address %>
  <em>Leer = Systemwert</em>
</p>

<p>
  <label>Reply-To</label>
  <%= f.text_field :reply_to_address %>
  <em>Leer = kein Override</em>
</p>