STRAPI_BASE_URL=http://localhost:1337
NEXT_PUBLIC_STRAPI_BASE_URL=http://localhost:1337

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me

AUTHENTIK_ISSUER=https://auth.example.org/application/o/hzd/
AUTHENTIK_CLIENT_ID=change-me
# Optional: Confidential Client in Authentik (sonst Public Client mit PKCE)
# AUTHENTIK_CLIENT_SECRET=change-me
# AUTHENTIK_TOKEN_ENDPOINT_AUTH_METHOD=client_secret_post
AUTHENTIK_SCOPE=openid email profile offline_access
AUTHENTIK_LOG_TOKENS=false
