STRAPI_BASE_URL=http://localhost:1337
NEXT_PUBLIC_STRAPI_BASE_URL=http://localhost:1337

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me

AUTHENTIK_ISSUER=https://auth.example.org/application/o/hzd/
AUTHENTIK_CLIENT_ID=change-me
AUTHENTIK_SCOPE=openid email profile
AUTHENTIK_LOG_TOKENS=false
