#datasources:
#  postgres:
#    url: jdbc:postgresql://postgres:5432/kestra
#    driver-class-name: org.postgresql.Driver
#    username: kestra
#    password: k3str4
kestra:
  server:
    basic-auth:
      username: "admin@kestra.io" # must be a valid email address
      password: kestra
      # Do not authenticate these URLs (some Micronaut defaults are open by default for security reasons)
      open-urls:
        - "/api/v1/main/executions/webhook/"
  repository:
    type: postgres
  storage:
    type: local
    local:
      base-path: "/app/storage"
  queue:
    type: postgres
  tasks:
    tmp-dir:
      path: "/tmp/kestra-wd/tmp"
  url: "https://kestra.app.tilothiele.de/"