volumes:
  kestra-data:
    driver: local
networks:
  coolify:
    external: true


services:
  kestra:
    image: kestra/kestra:latest
    pull_policy: always
    # Kestra, by default, has a termination grace period of 5m. We need to wait a little more to be sure no active tasks are running.
    stop_grace_period: 6m
    # Note that this setup with a root user is intended for development purpose.
    # Our base image runs without root, but the Docker Compose implementation needs root to access the Docker socket
    user: "root"
    networks:
      - coolify
    command: server standalone --worker-thread=128
    volumes:
      - kestra-data:/app/storage
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/kestra-wd:/tmp/kestra-wd
    labels:
      - traefik.enable=true
      - traefik.http.routers.kestra-prod.rule=Host("kestra.app.tilothiele.de") && PathPrefix("/"")
      - traefik.http.routers.kestra-prod.entryPoints=https
      - traefik.http.routers.kestra-prod.tls=true
      - traefik.http.services.kestra-prod.loadbalancer.server.port=8080

    environment:
        KESTRA_CONFIGURATION: |
          datasources:
            postgres:
              url: "$DATABASE_URL"
              driverClassName: org.postgresql.Driver
              username: "$DATABASE_USER"
              password: "$DATABASE_PASSWD"
          kestra:
            server:
              basic-auth:
                username: "admin@kestra.io" # must be a valid email address
                password: kestra
                # Do not authenticate these URLs (some Micronaut defaults are open by default for security reasons)
                open-urls:
                  - "/api/v1/main/executions/webhook/"
            repository:
              type: postgres
            storage:
              type: local
              local:
                base-path: "/app/storage"
            queue:
              type: postgres
            tasks:
              tmp-dir:
                path: "/tmp/kestra-wd/tmp"
            url: "https://kestra.app.tilothiele.de/"
#    ports:
#      - "8080:8080"
#      - "8081:8081"
