RCLONE_WEBDAV_URL=https://your-opencloud/remote.php/dav/files/user
RCLONE_WEBDAV_USER=username
RCLONE_WEBDAV_PASS=encrypted_or_plain

RCLONE_RC_USER=admin
RCLONE_RC_PASS=supersecure

# Für rclone müssen die Passwörter verschlüsselt sein:
# rclone obscure "dein-passwort"