:root {
    /*	
    --background: #ffffff;
	--foreground: #333333;
	--brown-dark: #64574E;
	--brown-light: #5a3d2a;
	--gray-light: #f5f5f5;
	--gray-dark: #333333;
	--yellow: #f4d03f;
	--purple: #8e44ad;
	--green-dark: #1e8449;
	--green-light: #27ae60;
	*/


    --color-astronaut-100: #0A152E;
    /* 10% Lightness */
    --color-astronaut-200: #152B5C;
    /* 22% Lightness */
    --color-astronaut-300: #1A3673;
    /* 28% Lightness (Base) */
    --color-astronaut-400: #2950A3;
    /* 40% Lightness */
    --color-astronaut-500: #527AD1;
    /* 57% Lightness */
    --color-astronaut-600: #7FA0E0;
    /* 69% Lightness */
    --color-astronaut-700: #A8C0F0;
    /* 80% Lightness */
    --color-astronaut-800: #D4DFF7;
    /* 90% Lightness */
    --color-astronaut-900: #F2F5FD;
    /* 97% Lightness */

    --color-pine-cone-100: #1C1917;
    /* 10% Lightness */
    --color-pine-cone-200: #3F3934;
    /* 22% Lightness */
    --color-pine-cone-300: #64574E;
    /* 35% Lightness (Base) */
    --color-pine-cone-400: #857569;
    /* 46% Lightness */
    --color-pine-cone-500: #A89A8F;
    /* 58% Lightness */
    --color-pine-cone-600: #C6BDB5;
    /* 70% Lightness */
    --color-pine-cone-700: #E0DBD7;
    /* 81% Lightness */
    --color-pine-cone-800: #F2F0EE;
    /* 91% Lightness */
    --color-pine-cone-900: #FAF9F9;
    /* 97% Lightness */

    --color-putty-100: #1D190F;
    /* 10% Lightness */
    --color-putty-200: #4E4329;
    /* 25% Lightness */
    --color-putty-300: #7F6D43;
    /* 40% Lightness */
    --color-putty-400: #B0975D;
    /* 55% Lightness */
    --color-putty-500: #E0C68B;
    /* 71% Lightness (Base) */
    --color-putty-600: #E8D5A8;
    /* 78% Lightness */
    --color-putty-700: #EFE3C5;
    /* 85% Lightness */
    --color-putty-800: #F7F1E2;
    /* 92% Lightness */
    --color-putty-900: #FDFBF7;
    /* 98% Lightness */

    --color-tree-poppy-100: #1C1001;
    /* 10% Lightness */
    --color-tree-poppy-200: #4D2D06;
    /* 25% Lightness */
    --color-tree-poppy-300: #7F490A;
    /* 40% Lightness */
    --color-tree-poppy-400: #B96A0E;
    /* 55% Lightness */
    --color-tree-poppy-500: #F29C2A;
    /* 56% Lightness (Base) */
    --color-tree-poppy-600: #F5B35C;
    /* 67% Lightness */
    --color-tree-poppy-700: #F8CB8E;
    /* 78% Lightness */
    --color-tree-poppy-800: #FBE2C0;
    /* 89% Lightness */
    --color-tree-poppy-900: #FEF6EA;
    /* 97% Lightness */

    --color-regent-gray-100: #121920;
    /* 10% Lightness */
    --color-regent-gray-200: #283340;
    /* 22% Lightness */
    --color-regent-gray-300: #405063;
    /* 35% Lightness */
    --color-regent-gray-400: #667B94;
    /* 48% Lightness */
    --color-regent-gray-500: #8F9BAA;
    /* 61% Lightness (Base) */
    --color-regent-gray-600: #A8B2BD;
    /* 70% Lightness */
    --color-regent-gray-700: #C4CBD3;
    /* 80% Lightness */
    --color-regent-gray-800: #E0E4E8;
    /* 90% Lightness */
    --color-regent-gray-900: #F6F7F9;
    /* 97% Lightness */






    /* LQ (Lawrenz Qualitäter) Theme Colors */
    --color-white: #ffffff;
    --color-text-gray: #565757;
    --color-bg-gray: #f2f2f2;
    --color-theme-a-primary: #64574E;
    --color-theme-b-primary: #90C6BF;
    --color-theme-c-primary: #FAD857;
    --color-theme-d-primary: #A8267D;
    --color-theme-e-primary: #46605C;
    --color-theme-primary: var(--color-theme-a-primary);
}