/* 
   Semantic variables mapping to theme primitives.
   This allows components to use --lq-action-primary regardless of the active theme.
*/

:root {

    --color-primary: var(--color-kapitaensblau);
    --color-secondary: var(--color-goldbeige);

    --color-background: var(--color-saharabeige);

    --color-action-primary: var(--color-hzd-blau);
    --color-action-primary-hover: var(--color-goldbraun);
    --color-action-primary-text: white;

    --color-action-secondary: var(--color-goldbraun);
    --color-action-secondary-hover: var(--color-hzd-blau);
    --color-action-secondary-text: white;

    /* submit button */
    --color-submit-button: var(--color-hzd-blau);
    --color-submit-button-text: white;

    /* image-card-section - ok */
    --color-image-card-section-text: white;

    /* drawer-menu - ok */
    --color-drawer-text: var(--color-hzd-blau);
    --color-drawer-background: var(--color-saharabeige);
    --color-drawer-handle: var(--color-hzd-blau);

    /* header/footer - ok */
    --color-header-footer-text: var(--color-hzd-blau);
    --color-header-footer-background: var(--color-goldbeige);

    /* hero slide show */
    --color-hero-slide-show-text: var(--color-saharabeige);

    --color-backdrop-gradient: var(--color-erdbraun);
    --color-backdrop-gradient-text: var(--color-saharabeige);

    /* fb, yt, ... */
    --color-social-icon: var(--color-tree-poppy-500);

    --color-login-icon: var(--color-tree-poppy-400);

    --color-logo-background-face: white;

    /* sonstiges */

    --color-odd-section-background: var(--color-saharabeige);

    --color-text: var(--color-hzd-text);
    --color-text-headline: var(--color-hzd-blau);
    --color-text-subheadline: var(--color-hzd-blau);

    --color-negative-text: var(--color-saharabeige);
    --color-negative-text-headline: var(--color-saharabeige);
    --color-negative-text-subheadline: var(--color-saharabeige);

    --color-cards-background: var(--color-saharabeige);
    --color-cards-text: var(--color-hzd-text);
    --color-cards-text-headline: var(--color-hzd-blau);
    --color-cards-text-subheadline: var(--color-hzd-blau);


}