/* 
   Semantic variables mapping to theme primitives.
   This allows components to use --lq-action-primary regardless of the active theme.
*/

:root {

    --color-primary: var(--color-astronaut-300);
    --color-secondary: var(--color-pine-cone-300);

    --color-background: var(--color-pine-cone-100);
    --color-action-primary: var(--color-primary);

    --color-text: var(--color-astronaut-100);
    --color-text-headline: var(--color-astronaut-200);
    --color-text-subheadline: var(--color-pine-cone-100);

    --color-negative-text: var(--color-astronaut-800);
    --color-negative-text-headline: var(--color-astronaut-900);
    --color-negative-text-subheadline: var(--color-pine-cone-800);

    --color-cards-background: var(--color-pine-cone-900);
    --color-cards-text: var(--color-astronaut-200);


}